.8_2 { 
	overflow:hidden;
}
.e8_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e101_11 { 
	width:1920px;
	height:200px;
	position:absolute;
	left:0px;
	top:880px;
}
.e101_12 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1920px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e101_13 { 
	width:372px;
	height:40px;
	position:absolute;
	left:774px;
	top:80px;
}
.e101_14 { 
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e101_15 { 
	background-color:rgba(29.000000171363354, 161.0000056028366, 242.00000077486038, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e101_16 { 
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	background-image:url(../images/v101_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e101_17 { 
	width:100px;
	height:40px;
	position:absolute;
	left:136px;
	top:0px;
}
.e101_18 { 
	background-color:rgba(74.0000031888485, 110.00000104308128, 169.00000512599945, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e101_19 { 
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	background-image:url(../images/v101_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e101_20 { 
	width:100px;
	height:40px;
	position:absolute;
	left:272px;
	top:0px;
}
.e101_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e101_22 { 
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	background-image:url(../images/v101_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e101_30 { 
	background-color:rgba(75.00000312924385, 75.00000312924385, 75.00000312924385, 1);
	width:1920px;
	height:782px;
	position:absolute;
	left:0px;
	top:98px;
}
.101_30 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e101_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(75.00000312924385, 75.00000312924385, 75.00000312924385, 1);
	width:1920px;
	height:782px;
	position:absolute;
	left:0px;
	top:0px;
}
.101_25 { 
	border:1px solid rgba(75.00000312924385, 75.00000312924385, 75.00000312924385, 1);
}
.e107_2 { 
	color:rgba(255, 255, 255, 1);
	width:720px;
	height:87px;
	position:absolute;
	left:592px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e117_58112 { 
	width:876px;
	height:594px;
	position:absolute;
	left:154px;
	top:188px;
}
.ei117_58112_117_58102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:876px;
	height:594px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei117_58112_117_58103 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:278px;
	height:39px;
	position:absolute;
	left:304px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.ei117_58112_117_58104 { 
	transform: rotate(-0.2622214338576931deg);
	width:874.0091552734375px;
	height:0px;
	position:absolute;
	left:2px;
	top:102px;
}
.i117_58112_117_58104 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei117_58112_117_58105 { 
	background-color:rgba(237.4049985408783, 239.22186344861984, 242.24999696016312, 1);
	width:367px;
	height:48px;
	position:absolute;
	left:259px;
	top:225px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei117_58112_117_58106 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:27px;
	position:absolute;
	left:259px;
	top:186px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:-2;
}
.ei117_58112_117_58107 { 
	background-color:rgba(237.4049985408783, 239.22186344861984, 242.24999696016312, 1);
	width:367px;
	height:48px;
	position:absolute;
	left:256px;
	top:336px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei117_58112_117_58108 { 
	background-color:rgba(237.4049985408783, 239.22186344861984, 242.24999696016312, 1);
	width:367px;
	height:48px;
	position:absolute;
	left:259px;
	top:472px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei117_58112_117_58109 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:27px;
	position:absolute;
	left:259px;
	top:433px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:-2;
}
.ei117_58112_117_58110 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:27px;
	position:absolute;
	left:256px;
	top:297px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:-2;
}
.e107_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:436px;
	height:380px;
	position:absolute;
	left:1116px;
	top:286px;
	border-radius:Symbol(figma.mixed)px;
}
.e107_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:29px;
	position:absolute;
	left:102.5px;
	top:40.5px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.107_27 { 
	border:2px solid rgba(226.0000017285347, 230.00000149011612, 234.00000125169754, 1);
}
.e107_27 { 
	width:372px;
	height:260px;
	position:absolute;
	left:32px;
	top:79.5px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e107_28 { 
	color:rgba(36.00000165402889, 38.0000015348196, 52.000000700354576, 1);
	opacity:0.5;
	width:137px;
	height:34px;
	position:absolute;
	left:117.5px;
	top:113px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e110_690 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_691 { 
	width:1920px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_692 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1920px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_693 { 
	box-shadow:0px 0.06415519118309021px 0.19246558845043182px rgba(0, 0, 0, 0.10000000149011612);
	width:375px;
	height:30.794490814208984px;
	position:absolute;
	left:1393px;
	top:31px;
}
.ei110_693_2_149 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:30.794490814208984px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1.2831038236618042px;
	border-top-right-radius:1.2831038236618042px;
	border-bottom-left-radius:1.2831038236618042px;
	border-bottom-right-radius:1.2831038236618042px;
}
.ei110_693_2_150 { 
	width:17.96345329284668px;
	height:17.96345329284668px;
	position:absolute;
	left:10.264830589294434px;
	top:6.4155192375183105px;
}
.ei110_693_2_150_2_137 { 
	color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
	width:17.96345329284668px;
	height:17.96345329284668px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:11.547934532165527px;
	letter-spacing:0;
	line-height:px;
}
.ei110_693_2_151 { 
	color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
	width:321.1096496582031px;
	height:15px;
	position:absolute;
	left:43.62553024291992px;
	top:7.897244930267334px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}
.e110_694 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:22px;
	position:absolute;
	left:649px;
	top:37px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_695 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:22px;
	position:absolute;
	left:811px;
	top:35px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_696 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:22px;
	position:absolute;
	left:1123px;
	top:36px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_697 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:22px;
	position:absolute;
	left:1256px;
	top:37px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_698 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:22px;
	position:absolute;
	left:545px;
	top:39px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_699 { 
	transform: rotate(1.987846675914698e-16deg);
	width:530px;
	height:1px;
	position:absolute;
	left:695px;
	top:100px;
}
.110_699 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e110_700 { 
	width:65px;
	height:67px;
	position:absolute;
	left:335px;
	top:6px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e110_701 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:49px;
	position:absolute;
	left:56px;
	top:24px;
	font-family:Patrick Hand SC;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e110_702 { 
	width:36px;
	height:34px;
	position:absolute;
	left:1825px;
	top:29px;
	background-image:url(../images/20715029_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
