.site-size {
    width: 1920px;
    height: 1562px;
}

.site-body {
    width: 100%;
    height: 1189px;
    background: var(--darkGrey02);
    opacity: 1;
    padding-top: 173px;
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.site-header {
    width: 830px;
}

.journey-container {
    display: flex;
    flex-direction: column;
}

.journey-info {
    width: 830px;
    background: var(--darkGrey03);
    border-radius: 50px;
    margin-bottom: 20px;
}

.journey-delete-button {
    padding: 14px 33px;
    margin-bottom: 21px;
    border-radius: 5px;
    background: #FF1A43;

}

.journey-footer {
    height: 107px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 34px;
}

.journey-members {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    text-align: left;
    margin-bottom: 12px;
}

.journey-leg {
    margin-bottom: 5px;
    padding: 10px 20px;
    background: rgba(37, 37, 37, 1);
}

.journey-title {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 10px;
}

.leg-transport {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    top: 17px;
    left: 292px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.leg-locations {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    top: 17px;
    left: 34px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.journey-legs-title {
    width: 71px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    top: 77px;
    left: 34px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.journey-locations {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);

    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    margin-bottom: 10px;
}

.site-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
    position: relative;
}

.site-info-text {
    width: 392px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    top: 27px;
    left: 98px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.site-info {
    margin-top: 50px;
}

.site-info-icon {
    width: 78px;
    height: 78px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.site-title {
    width: 257px;
    color: rgba(255, 255, 255, 1);
    top: 73px;
    left: 450px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}