* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.site-size {
    width: 1920px;
    height: 1080px;
    position: relative;
}

.v147_71 {
    width: 100%;
    height: 1562px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v147_72 {
    width: 100%;
    height: 200px;
    background: url("../images/v147_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1362px;
    left: 0px;
    overflow: hidden;
}

.v147_73 {
    width: 100%;
    height: 200px;
    background: var(--darkGrey01);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v147_74 {
    width: 372px;
    height: 40px;
    background: url("../images/v147_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 774px;
    overflow: hidden;
}

.v147_75 {
    width: 100px;
    height: 40px;
    background: url("../images/v147_75.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v147_76 {
    width: 100px;
    height: 40px;
    background: rgba(29, 161, 242, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v147_77 {
    width: 40px;
    height: 40px;
    background: url("../images/v147_77.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v147_78 {
    width: 100px;
    height: 40px;
    background: url("../images/v147_78.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 136px;
    overflow: hidden;
}

.v147_79 {
    width: 100px;
    height: 40px;
    background: rgba(74, 110, 169, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v147_80 {
    width: 40px;
    height: 40px;
    background: url("../images/v147_80.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v147_81 {
    width: 100px;
    height: 40px;
    background: url("../images/v147_81.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 272px;
    overflow: hidden;
}

.v147_82 {
    width: 100px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v147_83 {
    width: 40px;
    height: 40px;
    background: url("../images/v147_83.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.site-body {
    width: 1920px;
    height: 1262px;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
}

.v147_85 {
    width: 100%;
    height: 100%;
    background: var(--darkGrey02);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v147_86 {
    width: 530px;
    height: 1px;
    background: url("../images/v147_86.png");
    opacity: 1;
    position: absolute;
    top: 1261px;
    left: 695px;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.v147_87 {
    width: 1000px;
    height: 294px;
    background: url("../images/v147_87.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 884px;
    left: 460px;
    overflow: hidden;
}

.v147_88 {
    width: 1000px;
    height: 294px;
    background: var(--darkGrey03);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v147_89 {
    width: 170px;
    height: 50px;
    background: url("../images/v147_89.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 209px;
    left: 765px;
    overflow: hidden;
}

.v147_90 {
    width: 170px;
    height: 50px;
    background: var(--darkGrey03);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(193, 192, 197, 0.800000011920929);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v147_91 {
    width: 155px;
    color: rgba(193, 192, 197, 1);
    position: absolute;
    top: 12px;
    left: 7px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v147_92 {
    width: 296px;
    height: 77px;
    background: url("../images/v147_92.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 34px;
    overflow: hidden;
}

.v147_93 {
    width: 296px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 47px;
    left: 0px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v147_94 {
    width: 199px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v147_95 {
    width: 301px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 34px;
    left: 34px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v147_96 {
    width: 1000px;
    height: 425px;
    background: url("../images/v147_96.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 460px;
    overflow: hidden;
}

.v147_97 {
    width: 1000px;
    height: 425px;
    background: var(--darkGrey03);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v147_98 {
    width: 935px;
    height: 63px;
    background: url("../images/v147_98.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 0px;
    overflow: hidden;
}

.v147_99 {
    width: 765px;
    height: 63px;
    background: rgba(37, 37, 37, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.v147_100 {
    width: 123px;
    height: 50px;
    background: url("../images/v147_100.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 812px;
    overflow: hidden;
}

.v147_101 {
    width: 123px;
    height: 50px;
    background: rgba(26, 163, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v147_102 {
    width: 66px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 12px;
    left: 28px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v147_103 {
    width: 167px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 16px;
    left: 34px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v147_104 {
    width: 123px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 16px;
    left: 340px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v147_105 {
    width: 133px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 34px;
    left: 34px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v147_106 {
    width: 924px;
    height: 212px;
    background: url("../images/v147_106.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 460px;
    overflow: hidden;
}

.v147_107 {
    width: 660px;
    height: 212px;
    background: var(--darkGrey03);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v147_108 {
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 85px;
    left: 40px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v147_109 {
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 157px;
    left: 40px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v147_110 {
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 121px;
    left: 40px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v147_111 {
    width: 315px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 34px;
    left: 40px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v147_112 {
    width: 182px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 91px;
    left: 742px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v147_133 {
    width: 123px;
    height: 50px;
    background: url("../images/v147_133.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 488px;
    overflow: hidden;
}

.v147_134 {
    width: 123px;
    height: 50px;
    background: rgba(26, 163, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v147_135 {
    width: 91px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 12px;
    left: 16px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v147_113 {
    width: 377px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 73px;
    left: 460px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v147_114 {
    width: 100%;
    height: 101px;
    background: url("../images/v147_114.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v147_115 {
    width: 100%;
    height: 100px;
    background: rgba(40, 40, 40, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v147_116 {
    width: 91px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 630px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v147_117 {
    width: 198px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 766px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v147_118 {
    width: 40px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 545px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v147_119 {
    width: 530px;
    height: 1px;
    background: url("../images/v147_119.png");
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 695px;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.v147_120 {
    width: 65px;
    height: 67px;
    background: url("../images/v147_120.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1395px;
    overflow: hidden;
}

.v147_121 {
    width: 273px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 18px;
    left: 1093px;
    font-family: Patrick Hand SC;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}