.1_101 { 
	overflow:hidden;
}
.e1_101 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e1_102 { 
	width:1920px;
	height:200px;
	position:absolute;
	left:0px;
	top:880px;
}
.e1_103 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1920px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_104 { 
	width:372px;
	height:40px;
	position:absolute;
	left:774px;
	top:80px;
}
.e1_105 { 
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_106 { 
	background-color:rgba(29.000000171363354, 161.0000056028366, 242.00000077486038, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_107 { 
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	background-image:url(../../static/footer/img/twitter_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_108 { 
	width:100px;
	height:40px;
	position:absolute;
	left:136px;
	top:0px;
}
.e1_109 { 
	background-color:rgba(74.0000031888485, 110.00000104308128, 169.00000512599945, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_110 { 
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	background-image:url(../../static/footer/img/facebook_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_111 { 
	width:100px;
	height:40px;
	position:absolute;
	left:272px;
	top:0px;
}
.e1_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_113 { 
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	background-image:url(../../static/footer/img/gmail_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_114 { 
	width:1920px;
	height:781px;
	position:absolute;
	left:0px;
	top:100px;
}
.e1_115 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1920px;
	height:780px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_116 { 
	transform: rotate(1.987846675914698e-16deg);
	width:530px;
	height:1px;
	position:absolute;
	left:695px;
	top:780px;
}
.1_116 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e1_117 { 
	width:490px;
	height:483px;
	position:absolute;
	left:715px;
	top:95px;
}
.e1_118 { 
	background-color:rgba(59.00000028312206, 59.00000028312206, 59.00000028312206, 1);
	width:490px;
	height:483px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_119 { 
	width:144px;
	height:50px;
	position:absolute;
	left:23px;
	top:373px;
}
.e1_120 { 
	background-color:rgba(26.000000350177288, 163.00000548362732, 255, 1);
	width:144px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_121 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:27px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e1_122 { 
	width:320px;
	height:99px;
	position:absolute;
	left:23px;
	top:233px;
}
.e1_123 { 
	background-color:rgba(75.00000312924385, 75.00000312924385, 75.00000312924385, 0.699999988079071);
	width:320px;
	height:60px;
	position:absolute;
	left:0px;
	top:21px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_124 { 
	color:rgba(255, 255, 255, 0.5);
	width:119px;
	height:18px;
	position:absolute;
	left:201px;
	top:81px;
	font-family:Poppins;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e1_125 { 
	color:rgba(255, 255, 255, 0.800000011920929);
	width:83px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_126 { 
	width:320px;
	height:81px;
	position:absolute;
	left:23px;
	top:111px;
}
.e1_127 {
	background-color:rgba(75.00000312924385, 75.00000312924385, 75.00000312924385, 0.699999988079071);
	width:320px;
	height:60px;
	position:absolute;
	left:0px;
	top:21px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

form input {
	color:white;
}

.e1_128 { 
	color:rgba(255, 255, 255, 0.800000011920929);
	width:max-content;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_129 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:30px;
	position:absolute;
	left:23px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e110_673 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_674 { 
	width:1920px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_675 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1920px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_676 { 
	box-shadow:0px 0.06415519118309021px 0.19246558845043182px rgba(0, 0, 0, 0.10000000149011612);
	width:375px;
	height:30.794490814208984px;
	position:absolute;
	left:1393px;
	top:31px;
}
.ei110_676_2_149 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:30.794490814208984px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1.2831038236618042px;
	border-top-right-radius:1.2831038236618042px;
	border-bottom-left-radius:1.2831038236618042px;
	border-bottom-right-radius:1.2831038236618042px;
}
.ei110_676_2_150 { 
	width:17.96345329284668px;
	height:17.96345329284668px;
	position:absolute;
	left:10.264830589294434px;
	top:6.4155192375183105px;
}
.ei110_676_2_150_2_137 { 
	color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
	width:17.96345329284668px;
	height:17.96345329284668px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:11.547934532165527px;
	letter-spacing:0;
	line-height:px;
}
.ei110_676_2_151 { 
	color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
	width:321.1096496582031px;
	height:15px;
	position:absolute;
	left:43.62553024291992px;
	top:7.897244930267334px;
	font-family:Roboto;
	text-align:left;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}
.e110_677 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:22px;
	position:absolute;
	left:649px;
	top:37px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_678 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:22px;
	position:absolute;
	left:811px;
	top:35px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_679 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:22px;
	position:absolute;
	left:1123px;
	top:36px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_680 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:22px;
	position:absolute;
	left:1256px;
	top:37px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_681 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:22px;
	position:absolute;
	left:545px;
	top:39px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e110_682 { 
	transform: rotate(1.987846675914698e-16deg);
	width:530px;
	height:1px;
	position:absolute;
	left:695px;
	top:100px;
}
.110_682 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e110_683 { 
	width:65px;
	height:67px;
	position:absolute;
	left:335px;
	top:6px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e110_684 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:49px;
	position:absolute;
	left:56px;
	top:24px;
	font-family:Patrick Hand SC;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e110_685 { 
	width:36px;
	height:34px;
	position:absolute;
	left:1825px;
	top:29px;
	background-image:url(../images/20715029_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
