<!DOCTYPE html>
<html>
<head>
  <title>Registrarse</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/utils/normalize.css}">
  <link rel="stylesheet" th:href="@{/menu/menu.css}">
  <link rel="stylesheet" th:href="@{/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/registrarse/registrarse.css}">
  <link rel="stylesheet" th:href="@{/utils/buttons.css}">

</head>

<body>

<div class="site-size">
  <div th:replace="fragments/menu :: menu"></div>
  <div th:replace="fragments/footer :: footer"></div>

  <div class="v1_114">
    <div class="v1_115"></div>

    <form class="v1_117" th:action="@{/registrarse}" th:object="${newUser}" method="POST">

      <div class="v1_118"></div>
      <span class="v1_129">Registrarse</span>

      <div class="v1_126">
        <label class="v1_128">Nombre de usuario</label>
        <input class="v1_127" type="text" th:field="*{username}"/>
        <span class="user-error" th:text="${userError} ?: ''"></span>
      </div>

      <div class="v1_122">
        <label class="v1_125">Contraseña</label>
        <input class="v1_123" type="text" th:field="*{password}"/>
        <span class="v1_124">Mostrar contraseña</span>
        <span class="pwd-error" th:text="${pwdError} ?: ''"></span>
      </div>

      <div class="form-user-type">
        <span class="form-label">Tipo de Cuenta</span>
        <select class="form-dropdown" th:field="*{userType}">
          <option class="form-dropdown-text" th:each="ut : ${allUserTypes}"
                  th:value="${ut}"
                  th:text="${ut}">
          </option>
        </select>
      </div>

      <button class="blue-button v1_119" type="submit">
        <div class="v1_120"></div>
        <span class="v1_121">Registrarse</span>
      </button>

    </form>
  </div>

  <div class="v1_138">
    <div class="v1_139"></div>
    <span class="v1_140">Información</span><span class="v1_141">Guía de Recomendaciones</span><span class="v1_142">Inicio</span>
    <div class="v1_143"></div>
    <div class="v1_144"></div>
    <span class="v1_145">Mi Impacto Ambiental</span>
  </div>
</div>

</body>
</html>


<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->

<!--  <title>Html Generated</title>-->
<!--  <meta name="description" content="Figma htmlGenerator">-->
<!--  <meta name="author" content="htmlGenerator">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">-->
<!--  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand SC&display=swap" rel="stylesheet">-->
<!--  <link rel="stylesheet" th:href="@{/utils/normalize.css}">-->
<!--  <link rel="stylesheet" th:href="@{/menu/menu.css}">-->
<!--  <link rel="stylesheet" th:href="@{/footer/footer.css}">-->
<!--  <link rel="stylesheet" th:href="@{/registrarse.css}">-->
<!--  <link rel="stylesheet" th:href="@{/utils/buttons.css}">-->

<!--  <style>-->
<!--      /*-->
<!--        Figma Background for illustrative/preview purposes only.-->
<!--        You can remove this style tag with no consequence-->
<!--      */-->
<!--      body {-->
<!--          background: #E5E5E5;-->
<!--      }-->
<!--  </style>-->

<!--</head>-->

<!--<body>-->
<!--<div class="site-size">-->
<!--  <div th:replace="fragments/menu :: menu"></div>-->
<!--  <div th:replace="fragments/footer :: footer"></div>-->
<!--  <div class=e1_114>-->
<!--    <div class="e1_115"></div>-->
<!--    <div class="e1_116"></div>-->
<!--    <div class=e1_117>-->

<!--      <form class="e1_118" th:action="@{/registrarse}" th:object="${newStandardUser}" method="post">-->

<!--        <span class="e1_129">Registrarse</span>-->

<!--        <div class=e1_126>-->
<!--          <label class="e1_128">Nombre de usuario</label>-->
<!--          <input class="e1_127" type="text" th:field="*{username}"/>-->
<!--        </div>-->

<!--        <div class=e1_122>-->
<!--          <label class="e1_128">Contraseña</label>-->
<!--          <input class="e1_123" type="text" th:field="*{password}"/>-->

<!--          <span class="e1_124">Mostrar contraseña</span>-->
<!--        </div>-->

<!--        <button class="blue-button e1_119" type="submit">-->
<!--          <div class="e1_120"></div>-->
<!--          <span class="e1_121">Registrarse</span>-->
<!--        </button>-->

<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->


