body {
    font-size: 14px;
}

.site-body {
    /* width: 100%; */
    /* height: 1189px; */
    background: var(--darkGrey02);
    opacity: 1;
    /* padding-top: 173px; */
    padding: 50px 0px;
    /* overflow-y: scroll; */
    flex-direction: column;
    display: flex;
    align-items: center;
}

.org-box {
    width: 844px;
    height: 212px;
    opacity: 1;
    display: flex;
    /* flex-direction: column; */
    /* position: relative; */
    top: 281px;
    left: 545px;
    /* overflow: hidden; */
    margin-bottom: 15px;
}

.org-info {
    padding-left: 32px;
    background: var(--darkGrey03);
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    align-items: center;
}

.org-text-info {
    width: 628px;
    height: 212px;
    opacity: 1;
    /* position: relative; */
    top: 0px;
    left: 0px;
    float: left;
    display: flex;
    flex-direction: column;
}

.org-more-info-button {
    width: 170px;
    height: 50px;
    background: url("../images/v81_118.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 81px;
    /* overflow: hidden; */
    float: right;
    margin-left: 14px;
}

.v81_119 {
    width: 170px;
    height: 50px;
    background: var(--darkGrey03);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(193, 192, 197, 0.800000011920929);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v81_120 {
    width: 155px;
    color: rgba(193, 192, 197, 1);
    position: absolute;
    top: 14px;
    left: 9px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v81_128 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    /* position: absolute; */
    /* top: 85px; */
    /* left: 34px; */
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    padding: 3px 0px;
}

.v82_240 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    /* position: absolute; */
    /* top: 157px; */
    /* left: 34px; */
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v82_239 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    /* position: absolute; */
    /* top: 121px; */
    /* left: 34px; */
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v82_238 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    /* position: absolute; */
    /* top: 32px; */
    /* left: 34px; */
    padding: 34px 0px 20px 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v82_242 {
    width: 254px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    /* position: absolute; */
    /* top: 91px; */
    /* left: 341px; */
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.site-header {
    width: 830px;
}

.site-title {
    width: 257px;
    color: rgba(255, 255, 255, 1);
    top: 73px;
    left: 450px;
    font-family: Poppins, serif;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.site-info {
    margin: 50px 0px 32px;
    display: flex;
    align-items: center;
}

.site-info-icon {
    width: 78px;
    height: 78px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    border-radius: 50%;
}

.site-info-text {
    width: fit-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    /* top: 27px; */
    /* left: 98px; */
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    padding: 0px 20px;
}