* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.page-size {
    width: 1920px;
    height: 1562px;
    position: relative;
}

.site-body {
    width: 1920px;
    height: 1262px;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
}

.v81_86 {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v81_87 {
    width: 530px;
    height: 1px;
    background: url("../images/v81_87.png");
    opacity: 1;
    position: absolute;
    top: 1261px;
    left: 695px;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.v104_159 {
    width: 1000px;
    height: 294px;
    background: url("../images/v104_159.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 884px;
    left: 460px;
    overflow: hidden;
}

.v104_160 {
    width: 1000px;
    height: 294px;
    background: rgba(59, 59, 59, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v104_172 {
    width: 170px;
    height: 50px;
    background: url("../images/v104_172.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 209px;
    left: 765px;
    overflow: hidden;
}

.v104_173 {
    width: 170px;
    height: 50px;
    background: rgba(59, 59, 59, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(193, 192, 197, 0.800000011920929);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v104_174 {
    width: 155px;
    color: rgba(193, 192, 197, 1);
    position: absolute;
    top: 12px;
    left: 7px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v104_161 {
    width: 296px;
    height: 77px;
    background: url("../images/v104_161.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 34px;
    overflow: hidden;
}

.v104_167 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 47px;
    left: 0px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v104_166 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v104_168 {
    width: 301px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 34px;
    left: 34px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v104_136 {
    width: 1000px;
    height: 425px;
    background: url("../images/v104_136.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 460px;
    overflow: hidden;
}

.v104_144 {
    width: 1000px;
    height: 425px;
    background: rgba(59, 59, 59, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v104_145 {
    width: 935px;
    height: 63px;
    background: url("../images/v104_145.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 96px;
    left: 0px;
    overflow: hidden;
    margin-bottom: 15px;
}

.v104_138 {
    width: 765px;
    height: 63px;
    background: rgba(37, 37, 37, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.v104_153 {
    width: 123px;
    height: 50px;
    background: url("../images/v104_153.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 812px;
    overflow: hidden;
}

.v104_155 {
    width: 123px;
    height: 50px;
    background: rgba(26, 163, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v104_156 {
    width: 66px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 12px;
    left: 28px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v104_157 {
    width: 167px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 16px;
    left: 34px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v104_158 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 16px;
    left: 340px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v104_142 {
    width: 133px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 34px;
    left: 34px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v81_116 {
    width: 927px;
    height: 212px;
    background: url("../images/v81_116.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 460px;
    overflow: hidden;
}

.v81_117 {
    width: 660px;
    height: 212px;
    background: rgba(59, 59, 59, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v81_128 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 85px;
    left: 40px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v82_240 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 157px;
    left: 40px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v82_239 {
    width: max-content;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 121px;
    left: 40px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v82_238 {
    width: 315px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 34px;
    left: 40px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v82_242 {
    width: 187px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 91px;
    left: 740px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v81_136 {
    width: 219px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 73px;
    left: 460px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}