<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
</head>

<body>
  <div class="e110_762" th:fragment="footer">
    <div class="e110_763"></div>
    <div class=e110_764>
      <div class=e110_765>
        <a href="https://twitter.com">
        <div class="e110_766"></div>
        <div class="e110_767"></div>
        </a>
      </div>
      <div class=e110_768>
        <a href="https://www.facebook.com/">
        <div class="e110_769"></div>
        <div class="e110_770"></div>
        </a>
      </div>
      <div class=e110_771>
        <a href="https://mail.google.com/">
        <div class="e110_772"></div>
        <div class="e110_773"></div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>