<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/utils/normalize.css}">
</head>

<body>
<div class="footer" th:fragment="footer">
  <div class="footer-background"></div>
  <div class="footer-white-line"></div>

  <div class=footer-nav>

    <div class=footer-twitter>
      <a href="https://twitter.com">
        <img class="footer-twitter-logo" th:src="@{/footer/img/twitter_logo.png}" alt="Twitter @MiHuellaDeCarbono">
      </a>
    </div>

    <div class=footer-facebook>
      <a href="https://www.facebook.com/">
        <img class="footer-facebook-logo" th:src="@{/footer/img/facebook_logo.png}" alt="Facebook @MiHuellaDeCarbono">
      </a>
    </div>

    <div class=footer-gmail>
      <a href="https://mail.google.com/">
        <img class="footer-gmail-logo" th:src="@{/footer/img/gmail_logo.png}" alt="Gmail MiHuellaDeCarbono@gmail.com">
      </a>
    </div>

  </div>
</div>
</body>
</html>