<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Footer</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
</head>

<body>
<div class="footer" th:fragment="footer">
  <div class="footer-background"></div>
  <div class="footer-white-line"></div>

  <div class=footer-nav>

    <div class=footer-twitter>
      <a href="https://twitter.com">
        <img alt="Twitter @MiHuellaDeCarbono" class="footer-twitter-logo" th:src="@{/css/footer/img/twitter_logo.png}">
      </a>
    </div>

    <div class=footer-facebook>
      <a href="https://www.facebook.com/">
        <img alt="Facebook @MiHuellaDeCarbono" class="footer-facebook-logo" th:src="@{/css/footer/img/facebook_logo.png}">
      </a>
    </div>

    <div class=footer-gmail>
      <a href="https://mail.google.com/">
        <img alt="Gmail MiHuellaDeCarbono@gmail.com" class="footer-gmail-logo" th:src="@{/css/footer/img/gmail_logo.png}">
      </a>
    </div>

  </div>
</div>
</body>
</html>