<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand SC&display=swap" rel="stylesheet">
</head>

<body>

<section th:fragment="menu">


  <!-- TODO
    Chequear session eventualmente para mostrar lo correspondiente
    Sitio de Informacion?
  -->

  <div class=e110_623>
    <div class=e110_624>
      <div class="e110_625"></div>

      <div class=search-box>
        <div class=ei110_626_2_149>
          <div class=ei110_626_2_150>
            <span class="ei110_626_2_150_2_137">􀊫</span>
          </div>
          <form method="GET" th:action="@{/organizaciones}">
            <input class="ei110_626_2_151" th:name="like" th:placeholder="Search" type="text"/>
            <div class="e161_58110">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>

      <nav class="menu-nav">
        <a class="nav-home" th:href="@{/}">Inicio</a>
        <a class="nav-information" th:href="@{/}">Información</a>
        <a class="nav-guide" th:href="@{/guiaRecomendaciones}">Guía de Recomendaciones</a>
        <a class="nav-login" th:href="@{/iniciarSesion}">Iniciar Sesión</a>
      </nav>

      <div class="e110_630"></div>

      <div class="web-name">
        <img alt="Logo" class="web-logo" th:src="@{/css/menu/img/webLogo.png}">
        <span class="web-title">Mi Impacto Ambiental</span>
      </div>

    </div>
    <div class="e110_640">
    </div>
    <div class="menu-white-line"></div>
  </div>

</section>
</body>

</html>