<!DOCTYPE html>
<html>
<head>
  <title>Registrarse</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/utils/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/utils/rootVariables.css}">
  <link rel="stylesheet" th:href="@{/css/menu/menu.css}">
  <link rel="stylesheet" th:href="@{/css/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/css/register/register.css}">
  <link rel="stylesheet" th:href="@{/css/utils/buttons.css}">
  <link rel="stylesheet" th:href="@{/css/utils/siteSize.css}">
</head>

<body>

<div class="site-size">
  <div th:replace="fragments/menu :: menu"></div>
  <div class="site-body">
    <form class="v1_117" method="POST" th:action="@{/registrarse}" th:object="${newUser}">

      <div class="v1_118">
        <span class="v1_129">Registrarse</span>

        <div class="v1_126">
          <label class="v1_128">Nombre de usuario</label>
          <input class="v1_127" th:field="*{username}" type="text"/>
          <span class="user-error" th:text="${userError} ?: ''"></span>
        </div>

        <div class="v1_122">
          <label class="v1_125">Contraseña</label>
          <input class="v1_123" th:field="*{password}" type="password"/>
          <div class="password-input-footer">
            <span class="pwd-error" th:text="${pwdError} ?: ''"></span>
            <span class="v1_124">Mostrar contraseña</span>
          </div>

        </div>

        <div class="form-user-type">
          <span class="form-label">Tipo de Cuenta</span>
          <select class="form-dropdown" th:field="*{userType}">
            <option class="form-dropdown-text" th:each="ut : ${allUserTypes}"
                    th:text="${ut}"
                    th:value="${ut}">
            </option>
          </select>
        </div>

        <button class="blue-button v1_119" type="submit">
          <span class="button-text">Registrarse</span>
        </button>
      </div>

    </form>
  </div>
  <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>
