.footer {
    width: 1920px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.footer-background {
    background-color: var(--darkGrey01);
    width: 1920px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.footer-white-line {
    width: 530px;
    height: 1px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 1px;
    left: 695px;
}

.footer-nav {
    width: 372px;
    height: 40px;
    position: absolute;
    left: 774px;
    top: 80px;
}

.footer-twitter {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(29.000000171363354, 161.0000056028366, 242.00000077486038, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-twitter-logo {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 0px;
}

.footer-facebook {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 136px;
    top: 0px;
    background-color: rgba(74.0000031888485, 110.00000104308128, 169.00000512599945, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-facebook-logo {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 0px;
}

.footer-gmail {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 272px;
    top: 0px;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-gmail-logo {
    width: 40px;
    height: 30px;
    position: absolute;
    left: 30px;
    top: 5px;
}