<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargar Actividades</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/utils/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/utils/rootVariables.css}">
    <link rel="stylesheet" th:href="@{/css/utils/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/menu/menu.css}">
    <link rel="stylesheet" th:href="@{/css/footer/footer.css}">
    <link rel="stylesheet" th:href="@{/css/organizations/loadActivityData.css}">
    <link rel="stylesheet" th:href="@{/css/utils/siteSize.css}">
</head>
<body>
    <div class="site-size">
        <div th:replace="fragments/menu :: menu"></div>
        <div class="site-body">

            <div class="site-header">
                <span class="site-title">Nuevas Actividades</span>
                <div class="site-info">
                    <div class="site-info-icon"></div>
                    <span class="site-info-text">Cargue el archivo csv con las actividades de su empresa</span>
                </div>
            </div>

            <div class="csv-loader">
                <form class="csv-form" method="post" th:action="${path}" enctype="multipart/form-data">
                    <label for="file-input">Seleccionar CSV de actividades</label>
                    <input id="file-input" type="file" name="activityDataFile"/>
                    <button class="blue-button submit-csv" type="submit">
                        <span class="button-text">Finalizar</span>
                    </button>
                </form>
            </div>

        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>