.110
_3 {
    overflow: hidden;
}

.e110_3 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 1080px;
    position: absolute;
}

.e110_224 {
    width: 1920px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 880px;
}

.e110_225 {
    background-color: rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
    width: 1920px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e110_226 {
    width: 372px;
    height: 40px;
    position: absolute;
    left: 774px;
    top: 80px;
}

.e110_227 {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e110_228 {
    background-color: rgba(29.000000171363354, 161.0000056028366, 242.00000077486038, 1);
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e110_229 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 0px;
    background-image: url(../../static/footer/img/twitter_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e110_230 {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 136px;
    top: 0px;
}

.e110_231 {
    background-color: rgba(74.0000031888485, 110.00000104308128, 169.00000512599945, 1);
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e110_232 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 0px;
    background-image: url(../../static/footer/img/facebook_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e110_233 {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 272px;
    top: 0px;
}

.e110_234 {
    background-color: rgba(255, 255, 255, 1);
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e110_235 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 0px;
    background-image: url(../../static/footer/img/gmail_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.110
_245 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_245 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 112px;
    top: 218px;
}

.e110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.e110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.e110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.110
_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.e110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_278 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_278 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 112px;
    top: 540px;
}

.ei110_278_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_278_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_278_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_278_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_278_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_278_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_278_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_299 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_299 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 1499px;
    top: 549px;
}

.ei110_299_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_299_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_299_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_299_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_299_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_299_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_299_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_292 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_292 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 1035px;
    top: 549px;
}

.ei110_292_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_292_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_292_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_292_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_292_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_292_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_292_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_285 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_285 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 571px;
    top: 540px;
}

.ei110_285_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_285_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_285_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_285_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_285_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_285_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_285_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_271 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_271 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 1499px;
    top: 218px;
}

.ei110_271_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_271_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_271_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_271_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_271_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_271_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_271_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_264 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_264 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 1035px;
    top: 218px;
}

.ei110_264_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_264_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_264_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_264_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_264_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_264_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_264_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.110
_257 {
    border: 3px solid rgba(7.4375000316649675, 7.065624911338091, 7.065624911338091, 1);
}

.e110_257 {
    width: 369px;
    height: 234px;
    position: absolute;
    left: 571px;
    top: 218px;
}

.ei110_257_110_236 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 369px;
    height: 234px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei110_257_110_246 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 294px;
    height: 123px;
    position: absolute;
    left: 40px;
    top: 34px;
}

.ei110_257_110_247 {
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 39px;
    position: absolute;
    left: 94px;
    top: 56px;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.ei110_257_110_248 {
    transform: rotate(0.3105431868306627deg);
    width: 369.0054016113281px;
    height: 0px;
    position: absolute;
    left: 1.1368683772161603 e-13px;
    top: 155px;
}

.i110_257_110_248 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.ei110_257_110_255 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 167px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.ei110_257_110_256 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 201px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.e110_707 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e110_708 {
    width: 1920px;
    height: 101px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e110_709 {
    background-color: rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
    width: 1920px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e110_710 {
    box-shadow: 0px 0.06415519118309021px 0.19246558845043182px rgba(0, 0, 0, 0.10000000149011612);
    width: 375px;
    height: 30.794490814208984px;
    position: absolute;
    left: 1393px;
    top: 31px;
}

.ei110_710_2_149 {
    background-color: rgba(255, 255, 255, 1);
    width: 375px;
    height: 30.794490814208984px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 1.2831038236618042px;
    border-top-right-radius: 1.2831038236618042px;
    border-bottom-left-radius: 1.2831038236618042px;
    border-bottom-right-radius: 1.2831038236618042px;
}

.ei110_710_2_150 {
    width: 17.96345329284668px;
    height: 17.96345329284668px;
    position: absolute;
    left: 10.264830589294434px;
    top: 6.4155192375183105px;
}

.ei110_710_2_150_2_137 {
    color: rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
    width: 17.96345329284668px;
    height: 17.96345329284668px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: SF Pro Display;
    text-align: center;
    font-size: 11.547934532165527px;
    letter-spacing: 0;
    line-height: px;
}

.ei110_710_2_151 {
    color: rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
    width: 321.1096496582031px;
    height: 15px;
    position: absolute;
    left: 43.62553024291992px;
    top: 7.897244930267334px;
    font-family: Roboto;
    text-align: left;
    font-size: 17px;
    letter-spacing: 0.5;
    line-height: px;
}

.e110_711 {
    color: rgba(255, 255, 255, 1);
    width: 91px;
    height: 22px;
    position: absolute;
    left: 649px;
    top: 37px;
    font-family: Open Sans;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e110_712 {
    color: rgba(255, 255, 255, 1);
    width: 198px;
    height: 22px;
    position: absolute;
    left: 811px;
    top: 35px;
    font-family: Open Sans;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e110_713 {
    color: rgba(255, 255, 255, 1);
    width: 98px;
    height: 22px;
    position: absolute;
    left: 1123px;
    top: 36px;
    font-family: Open Sans;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e110_714 {
    color: rgba(255, 255, 255, 1);
    width: 84px;
    height: 22px;
    position: absolute;
    left: 1256px;
    top: 37px;
    font-family: Open Sans;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e110_715 {
    color: rgba(255, 255, 255, 1);
    width: 40px;
    height: 22px;
    position: absolute;
    left: 545px;
    top: 39px;
    font-family: Open Sans;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e110_716 {
    transform: rotate(1.987846675914698 e-16deg);
    width: 530px;
    height: 1px;
    position: absolute;
    left: 695px;
    top: 100px;
}

.110
_716 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e110_717 {
    width: 65px;
    height: 67px;
    position: absolute;
    left: 335px;
    top: 6px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e110_718 {
    color: rgba(255, 255, 255, 1);
    width: 273px;
    height: 49px;
    position: absolute;
    left: 56px;
    top: 24px;
    font-family: Patrick Hand SC;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0;
}

.e110_719 {
    width: 36px;
    height: 34px;
    position: absolute;
    left: 1825px;
    top: 29px;
    background-image: url(../images/20715029_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
