* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.site-size {
    width: 1920px;
    height: 1080px;
    position: relative;
}

.v71_72 {
    width: 100%;
    height: 200px;
    background: url("../images/v71_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 880px;
    left: 0px;
    overflow: hidden;
}

.v71_73 {
    width: 100%;
    height: 200px;
    background: var(--darkGrey01);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v71_74 {
    width: 372px;
    height: 40px;
    background: url("../images/v71_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 774px;
    overflow: hidden;
}

.v71_75 {
    width: 100px;
    height: 40px;
    background: url("../images/v71_75.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v71_76 {
    width: 100px;
    height: 40px;
    background: rgba(29, 161, 242, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v71_77 {
    width: 40px;
    height: 40px;
    background: url("../images/v71_77.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v71_78 {
    width: 100px;
    height: 40px;
    background: url("../images/v71_78.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 136px;
    overflow: hidden;
}

.v71_79 {
    width: 100px;
    height: 40px;
    background: rgba(74, 110, 169, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v71_80 {
    width: 40px;
    height: 40px;
    background: url("../images/v71_80.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v71_81 {
    width: 100px;
    height: 40px;
    background: url("../images/v71_81.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 272px;
    overflow: hidden;
}

.v71_82 {
    width: 100px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v71_83 {
    width: 40px;
    height: 40px;
    background: url("../images/v71_83.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v72_114 {
    width: 100%;
    height: 780px;
    background: url("../images/v72_114.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
}

.v72_115 {
    width: 100%;
    height: 780px;
    background: var(--darkGrey02);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.v72_116 {
    width: 535px;
    height: 442px;
    background: url("../images/v72_116.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 460px;
    overflow: hidden;
}

.v72_117 {
    width: 123px;
    height: 50px;
    background: url("../images/v72_117.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 392px;
    left: 0px;
    overflow: hidden;
}

.v72_119 {
    width: 123px;
    height: 50px;
    background: rgba(26, 163, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v72_120 {
    width: 77px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 12px;
    left: 23px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v72_121 {
    width: 535px;
    height: 27px;
    background: url("../images/v72_121.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 0px;
    overflow: hidden;
}

.v72_122 {
    width: 235px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v72_123 {
    width: 280px;
    height: 27px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 255px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v119_71 {
    width: 535px;
    height: 27px;
    background: url("../images/v119_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 183px;
    left: 0px;
    overflow: hidden;
}

.v119_72 {
    width: 235px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v119_73 {
    width: 280px;
    height: 27px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 255px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v119_74 {
    width: 535px;
    height: 27px;
    background: url("../images/v119_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 242px;
    left: 0px;
    overflow: hidden;
}

.v119_75 {
    width: 235px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v119_76 {
    width: 280px;
    height: 27px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 255px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v119_77 {
    width: 535px;
    height: 27px;
    background: url("../images/v119_77.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 301px;
    left: 0px;
    overflow: hidden;
}

.v119_78 {
    width: 235px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v119_79 {
    width: 280px;
    height: 27px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 255px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v72_124 {
    width: 535px;
    height: 28px;
    background: url("../images/v72_124.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v72_125 {
    width: 235px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v72_127 {
    width: 280px;
    height: 28px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 255px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v72_128 {
    width: 535px;
    height: 32px;
    background: url("../images/v72_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 0px;
    overflow: hidden;
}

.v72_129 {
    width: 235px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 2px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v72_130 {
    width: 280px;
    height: 32px;
    background: url("../images/v72_130.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 255px;
    overflow: hidden;
}

.v72_131 {
    width: 280px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
}

.v72_132 {
    width: 227px;
    color: rgba(153, 153, 153, 1);
    position: absolute;
    top: 3px;
    left: 22px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v72_133 {
    width: 10px;
    height: 5px;
    background: url("../images/v72_133.png");
    opacity: 0.800000011920929;
    position: absolute;
    top: 13px;
    left: 249px;
    border: 1.399999976158142px solid rgba(0, 0, 0, 1);
}

.v72_134 {
    width: 649px;
    height: 75px;
    background: url("../images/v72_134.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 467px;
    overflow: hidden;
}

.v72_135 {
    width: 75px;
    height: 75px;
    background: url("../images/v72_135.png");
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v72_136 {
    width: 555px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 25px;
    left: 94px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v72_137 {
    width: 552px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 81px;
    left: 460px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
}

.v71_100 {
    width: 100%;
    height: 101px;
    background: url("../images/v71_100.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v71_101 {
    width: 100%;
    height: 100px;
    background: rgba(40, 40, 40, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v71_102 {
    width: 91px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 630px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v71_103 {
    width: 198px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 766px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v71_104 {
    width: 40px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 545px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v71_105 {
    width: 530px;
    height: 1px;
    background: url("../images/v71_105.png");
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 695px;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.v71_106 {
    width: 65px;
    height: 67px;
    background: url("../images/v71_106.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1395px;
    overflow: hidden;
}

.v71_107 {
    width: 273px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 28px;
    left: 1116px;
    font-family: Patrick Hand SC;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}