<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/menu/menu.css}">
  <link rel="stylesheet" th:href="@{/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/buscarOrganizacion.css}">

  <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {
          background: #E5E5E5;
      }
  </style>

</head>

<body>
<div th:replace="fragments/menu :: menu" ></div>
<div th:replace="fragments/footer :: footer"></div>
  <div class=e110_245 th:each="organization: ${organizations}">
    <div class="e110_236"></div>
    <div class="e110_246"></div>
    <span class="e110_247" th:text="${organization.socialObjective}"></span>
    <div class="e110_248"></div>
    <span class="e110_255" th:text ="Telefono: ${organization.contact.phoneNumber}"></span><span class="e110_256" th:text="Email: ${organization.contact.email}"></span></div>
  </div>
</div>
</body>
</html>