<!DOCTYPE html>
<html>

<head>
  <title>CalculadoraHC</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/utils/normalize.css}">
  <link rel="stylesheet" th:href="@{/menu/menu.css}">
  <link rel="stylesheet" th:href="@{/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/calculadoraHC/calculadoraHC.css}">
  <link rel="stylesheet" th:href="@{/utils/buttons.css}">
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>
<div th:replace="fragments/footer :: footer"></div>

<div class="site-body">

  <div class="background"></div>

  <span class="site-title">Calculadora de Huella de Carbono</span>

  <div class="description">
    <img class="description-icon" th:src="@{/calculadoraHC/img/description_icon.jpg}" alt="PencilIcon">
    <span class="description-text">Complete los datos siguientes con la actividad que desea evaluar</span>
  </div>


  <form class="calculator-form" th:action="@{/calculadoraHC}" method="get">

    <div class="form-consumption-type">
      <span class="form-label">Tipo de Consumo</span>
      <select class="form-dropdown" th:name="ct">
        <option class="form-dropdown-text" th:each="consumptionType : ${allConsumptionTypes}"
                th:value="${consumptionType}"
                th:text="${consumptionType}">
          Tipo de Consumo
        </option>
      </select>
    </div>

    <div class="form-periodicity">
      <span class="form-label">Periodo</span>
      <input placeholder="MMAAA o AAAA" class="v34_27378" type="text" th:name="p"/>
    </div>

    <div class="form-consumption-type-value">
      <span class="form-label">Valor del Consumo</span>
      <input class="v34_27361" type="double" th:name="cv"/>
    </div>

    <div class="form-send">
      <div class="form-result-box">
        <div class="form-result-text">
          [[${result}]]
        </div>
      </div>

      <button class="blue-button v34_27256" type="submit">
        <span class="v34_27257">Calcular</span>
      </button>

    </div>

  </form>


</div>

</body>
</html>