<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/utils/normalize.css}">
  <link rel="stylesheet" th:href="@{/menu/menu.css}">
  <link rel="stylesheet" th:href="@{/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/crearOrganizacion.css}">
</head>
<body>
<div class="site-size">
  <div th:replace="fragments/menu :: menu"></div>
  <div th:replace="fragments/footer :: footer"></div>

  <div class="v72_114">
    <div class="v72_115"></div>
    <div class="v72_116">
      <div class="v72_117">
        <div class="v72_119"></div>
        <span class="v72_120">Finalizar</span></div>
      <div class="v72_121"><span class="v72_122">Clasificación</span>
        <div class="v72_123"></div>
      </div>
      <div class="v119_71"><span class="v119_72">Calle</span>
        <div class="v119_73"></div>
      </div>
      <div class="v119_74"><span class="v119_75">Altura</span>
        <div class="v119_76"></div>
      </div>
      <div class="v119_77"><span class="v119_78">Localidad</span>
        <div class="v119_79"></div>
      </div>
      <div class="v72_124"><span class="v72_125">Razon Social</span>
        <div class="v72_127"></div>
      </div>
      <div class="v72_128"><span class="v72_129">Tipo de Organizacion</span>
        <div class="v72_130">
          <div class="v72_131"></div>
          <span class="v72_132">Seleccione una opción</span>
          <div class="v72_133"></div>
        </div>
      </div>
    </div>
    <div class="v72_134">
      <div class="v72_135"></div>
      <span class="v72_136">Complete los datos siguientes para finalizar la creación de su cuenta</span></div>
    <span class="v72_137">Nueva Organización</span></div>
</div>
</body>
</html>