<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand SC&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/detalleOrganizacion.css}">

  <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {
          background: #E5E5E5;
      }
  </style>

</head>

<body>
<div class=e110_306>
  <div class=e110_346>
    <div class="e110_347"></div>
    <div class=e110_348>
      <div class=e110_349>
        <div class="e110_350"></div>
        <div class="e110_351"></div>
      </div>
      <div class=e110_352>
        <div class="e110_353"></div>
        <div class="e110_354"></div>
      </div>
      <div class=e110_355>
        <div class="e110_356"></div>
        <div class="e110_357"></div>
      </div>
    </div>
  </div>
  <div class="e110_358"></div>
  <span class="e110_424">Nombre Org</span>
  <div class=e110_430>
    <div class="e110_425"></div>
    <span class="e110_427">Info:</span><span class="e110_429">Info:</span><span class="e110_432">Info:</span><span
      class="e110_428">Info:</span><span class="e110_426">Info:</span></div>
  <div class=e110_448>
    <div class="e110_442"></div>
    <span class="e110_440">Sectores</span>
    <div class=e110_816>
      <div class="ei110_816_110_801"></div>
      <div class=ei110_816_110_802><span class="ei110_816_110_802_1_4002">Aplicar</span></div>
      <span class="ei110_816_110_800">S1: info............</span></div>
    <div class=e110_827>
      <div class="ei110_827_110_801"></div>
      <div class=ei110_827_110_802><span class="ei110_827_110_802_1_4002">Aplicar</span></div>
      <span class="ei110_827_110_800">S1: info............</span></div>
    <div class=e110_838>
      <div class="ei110_838_110_801"></div>
      <div class=ei110_838_110_802><span class="ei110_838_110_802_1_4002">Aplicar</span></div>
      <span class="ei110_838_110_800">S1: info............</span></div>
    <div class=e110_849>
      <div class="ei110_849_110_801"></div>
      <div class=ei110_849_110_802><span class="ei110_849_110_802_1_4002">Aplicar</span></div>
      <span class="ei110_849_110_800">S1: info............</span></div>
  </div>
  <div class=e110_724>
    <div class=e110_725>
      <div class="e110_726"></div>
      <div class=e110_727>
        <div class=ei110_727_2_149>
          <div class=ei110_727_2_150><span class="ei110_727_2_150_2_137">􀊫</span></div>
          <span class="ei110_727_2_151">Search</span></div>
      </div>
      <span class="e110_728">Información</span><span class="e110_729">Guía de Recomendaciones</span><span
        class="e110_730">Iniciar sesion</span><span class="e110_731">Registrarse</span><span
        class="e110_732">Inicio</span>
      <div class="e110_733"></div>
      <div class="e110_734"></div>
      <span class="e110_735">Mi Impacto Ambiental</span></div>
    <div class="e110_736"></div>
  </div>
</div>
</body>
</html>