<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/menu/menu.css}">
  <link rel="stylesheet" th:href="@{/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/iniciarSesion.css}">

  <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {
          background: #E5E5E5;
      }
  </style>

</head>

<body>
<div class=e1_57>
  <div th:replace="fragments/menu :: menu" ></div>
  <div th:replace="fragments/footer :: footer"></div>
  <div class=e1_70>
    <div class="e1_71"></div>
    <div class="e1_72"></div>
    <div class=e1_73>
      <div class="e1_74"></div>
      <span class="e1_75">¡No tenés cuenta? Registrarse</span>
      <span class="e1_100">¿Olvidaste tu contraseña?</span>
      <div class=e1_76>
        <div class="e1_77"></div>
        <span class="e1_78">Iniciar Sesión</span>
      </div>
      <div class=e1_79>
        <div class="e1_80"></div>
        <span class="e1_81">Mostrar contraseña</span>
        <span class="e1_82">Contraseña</span>
      </div>
      <div class=e1_83>
        <div class="e1_84"></div>
        <span class="e1_85">Nombre de usuario</span>
      </div>
      <span class="e1_86">Iniciar Sesión</span>
    </div>
  </div>
</div>
</body>
</html>