<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Registrar mediciones</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=SF+Pro Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/menu.css}">
  <link rel="stylesheet" th:href="@{/footer/footer.css}">
  <link rel="stylesheet" th:href="@{/registrarMediciones.css}">

  <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {
          background: #E5E5E5;
      }
  </style>

</head>

<body>
<div class=e8_2>
  <div th:replace="fragments/menu :: menu" ></div>
  <div th:replace="fragments/footer :: footer"></div>
  <div class=e101_30>
    <div class="e101_25"></div>
    <span class="e107_2">Registrar Mediciones</span>
    <div class=e117_58112>
      <div class="ei117_58112_117_58102"></div>
      <span class="ei117_58112_117_58103">Completar a mano</span>
      <div class="ei117_58112_117_58104"></div>
      <div class="ei117_58112_117_58105"></div>
      <span class="ei117_58112_117_58106">Dato 1</span>
      <div class="ei117_58112_117_58107"></div>
      <div class="ei117_58112_117_58108"></div>
      <span class="ei117_58112_117_58109">Dato 3</span>
      <span class="ei117_58112_117_58110">Dato 2</span>
    </div>
  </div>
  <div class=e107_26>
    <span class="e107_29">Subir CSV</span>
    <div class=e107_27>
      <span class="e107_28">Click to browse or  drag and drop your files</span>
    </div>
  </div>
</div>
</body>
</html>