* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    width: 1920px;
    height: 1080px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
}

.v34_27326 {
    width: 100%;
    height: 200px;
    background: url("../images/v34_27326.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 880px;
    left: 0px;
    overflow: hidden;
}

.v34_27327 {
    width: 100%;
    height: 200px;
    background: rgba(40, 40, 40, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v34_27328 {
    width: 372px;
    height: 40px;
    background: url("../images/v34_27328.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 774px;
    overflow: hidden;
}

.v34_27329 {
    width: 100px;
    height: 40px;
    background: url("../images/v34_27329.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v34_27330 {
    width: 100px;
    height: 40px;
    background: rgba(29, 161, 242, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v34_27331 {
    width: 40px;
    height: 40px;
    background: url("../images/v34_27331.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v34_27332 {
    width: 100px;
    height: 40px;
    background: url("../images/v34_27332.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 136px;
    overflow: hidden;
}

.v34_27333 {
    width: 100px;
    height: 40px;
    background: rgba(74, 110, 169, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v34_27334 {
    width: 40px;
    height: 40px;
    background: url("../images/v34_27334.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.v34_27335 {
    width: 100px;
    height: 40px;
    background: url("../images/v34_27335.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 272px;
    overflow: hidden;
}

.v34_27336 {
    width: 100px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v34_27337 {
    width: 40px;
    height: 40px;
    background: url("../images/v34_27337.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
}

.site-body {
    width: 100%;
    height: 780px;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 780px;
    background: rgba(51, 51, 51, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.form-send {
    width: 915px;
    height: 50px;
    background: url("../images/v34_27255.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 245px;
    left: 0px;
    overflow: hidden;
}

.form-result-box {
    width: 500px;
    height: 28px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.form-result-text {
    width: 745px;
    height: 28px;
    color: #eeeeee;
    position: absolute;
    padding-top: 2px;
    padding-left: 16px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v34_27256 {
    width: 123px;
    height: 50px;
    background: rgba(26, 163, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v34_27257 {
    width: 79px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 12px;
    left: 22px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.calculator-form {
    width: 800px;
    height: 300px;
    opacity: 1;
    position: absolute;
    top: 318px;
    left: 460px;
    overflow: hidden;
}

.form-consumption-type-value {
    width: 450px;
    height: 28px;
    background: url("../images/v34_27289.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 154px;
    left: 0px;
    overflow: hidden;
}

.v34_27361 {
    width: 280px;
    height: 28px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.form-periodicity {
    width: 450px;
    height: 28px;
    opacity: 1;
    position: absolute;
    top: 79px;
    left: 0px;
    overflow: hidden;
}

form input {
    font-family: Poppins;
    color: white;
    width: 280px;
    height: 28px;
    background: rgba(75, 75, 75, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

::placeholder {
    width: 170px;
    color: rgb(127, 127, 127);
    position: absolute;
    left: 5px;
    font-family: Poppins;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v34_27379 {
    width: 227px;
    color: rgba(153, 153, 153, 1);
    position: absolute;
    top: 2px;
    left: 192px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.form-consumption-type {
    width: 450px;
    height: 32px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.form-label {
    width: 170px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 3px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v34_27364 {
    width: 280px;
    height: 32px;
    background: url("../images/v34_27364.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 170px;
    overflow: hidden;
}

.form-dropdown {
    width: 280px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 170px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    font-family: Poppins;
}

.form-dropdown-text {
    width: 227px;
    color: rgb(64, 64, 64);
    position: absolute;
    top: 3px;
    left: 22px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.form-dropdown-arrow {
    width: 10px;
    height: 5px;
    background: url("../images/v34_27367.png");
    opacity: 0.800000011920929;
    position: absolute;
    top: 13px;
    left: 249px;
    border: 1.399999976158142px solid rgba(0, 0, 0, 1);
}

.description {
    width: 625px;
    height: 75px;
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 467px;
    overflow: hidden;
}

.description-icon {
    width: 75px;
    height: 75px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.description-text {
    width: 531px;
    color: rgba(255, 255, 255, 0.8999999761581421);
    position: absolute;
    top: 25px;
    left: 94px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.site-title {
    width: 494px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 76px;
    left: 467px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: center;
}

.v34_27380 {
    width: 100%;
    height: 101px;
    background: url("../images/v34_27380.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v34_27381 {
    width: 100%;
    height: 100px;
    background: rgba(40, 40, 40, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v34_27383 {
    width: 91px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 649px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v34_27384 {
    width: 198px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 811px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v34_27385 {
    width: 98px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 1123px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v34_27386 {
    width: 84px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 1256px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v34_27387 {
    width: 40px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 545px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v34_27388 {
    width: 530px;
    height: 1px;
    background: url("../images/v34_27388.png");
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 695px;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.v35_71 {
    width: 344px;
    height: 67px;
    background: url("../images/v35_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 56px;
    overflow: hidden;
}

.v34_27389 {
    width: 65px;
    height: 67px;
    background: url("../images/v34_27389.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 279px;
    overflow: hidden;
}

.v34_27390 {
    width: 273px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Patrick Hand SC;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}