.blue-button {
    background: #1AA3FF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.red-button {
    background: #FF1A43;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.blue-button:hover {
    filter: brightness(1.20);
}

.standard-button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.standard-button:hover {
    filter: brightness(1.20);
}

.button-text {
    color: rgba(0, 0, 0, 1);
    width: max-content;
    height: 27px;
    position: relative;
    /* left: 18px; */
    /* top: 12px; */
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}