.blue-button {
    background: #1AA3FF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.blue-button:hover {
    filter: brightness(1.20);
}

.standard-button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.standard-button:hover {
    filter: brightness(1.20);
}